// @file
// Component: c-button-zy

@use '00-config' as *;

// stylelint-disable
.c-button,
%c-button {
  @include button();
  margin-bottom: rem(gesso-spacing(1));

  & + & {
    margin-left: rem(gesso-spacing(1)); // LTR

    @if $support-for-rtl {
      [dir='rtl'] & {
        margin-left: 0;
        margin-right: rem(gesso-spacing(1));
      }
    }
  }
}

// This button class is used for Drupal tabs.
.c-button--base {
  background-color: gesso-color(button, base, background);
  color: gesso-color(button, base, text);

  &:hover,
  &:focus {
    background-color: gesso-color(button, base, background-hover);
    color: gesso-color(button, base, text-hover);
  }

  &:active,
  &.is-active {
    background-color: gesso-color(button, base, background-active);
    color: gesso-color(button, base, text-active);
  }
}

// Drupal outputs this class on buttons that can delete content.
.c-button--danger {
  background-color: gesso-color(button, danger, background);
  color: gesso-color(button, danger, text);

  &:hover,
  &:focus {
    background-color: gesso-color(button, danger, background-hover);
    color: gesso-color(button, danger, text-hover);
  }

  &:active,
  &.is-active {
    background-color: gesso-color(button, danger, background-active);
    color: gesso-color(button, danger, text-active);
  }
}

// This custom button class, included as an example, is not output by Drupal by default.
.c-button--secondary {
  background-color: gesso-color(button, secondary, background);
  color: gesso-color(button, secondary, text);

  &:hover,
  &:focus {
    background-color: gesso-color(button, secondary, background-hover);
    color: gesso-color(button, secondary, text-hover);
  }

  &:active,
  &.is-active {
    background-color: gesso-color(button, secondary, background-active);
    color: gesso-color(button, secondary, text-active);
  }
}

// This custom button class, included as an example, is not output by Drupal by default.
.c-button--large {
  font-size: rem(gesso-font-size(4));
  padding: rem(gesso-spacing(2)) rem(gesso-spacing(5));
}

// This custom button class, included as an example, is not output by Drupal by default.
.c-button--small,
%c-button--small {
  font-size: rem(gesso-font-size(1));
  padding: rem(gesso-spacing(0.5)) rem(gesso-spacing(1));
}

.button, .c-button {
    border: 1px solid transparent;
    border-radius: 6px;
    padding: 11px 20px;
    text-align: center;
    font-size: gesso-font-size(2);
    line-height: gesso-line-height(normal);
    color: gesso-color(zy, light);
    font-weight: 500;
    text-decoration: none;
    margin: 4px;
    display: inline-block;
    .c-icon {
        &.is-spaced-before {
            margin-left: 7px;
        }
        &.is-spaced-after {
            margin-right: 7px;
        }
    }
    &.button--small {
        padding: 3px 8px;
        font-size: gesso-font-size(1);
        line-height: 16px;
        display: inline-block;
    }
    &.pill {
        border-radius: 40px;
        padding: 3px 8px;
        line-height: gesso-line-height(small);
        .c-icon {
            &.is-spaced-before {
                margin-left: 4px;
            }
            &.is-spaced-after {
                margin-right: 4px;
            }
        }
    }
    background-color: gesso-color(zy, base);
    color: gesso-color(zy, light);
    &[disabled], &[disabled]:hover, &[disabled]:focus {
        background-color: gesso-color(zy, disabled);
    }
    &.success {
        background-color: gesso-color(zy, success);
        border-color: transparent;
        color: gesso-color(zy, light);
    }
    &.warning {
        background-color: gesso-color(zy, warning);
        border-color: transparent;
        color: gesso-color(zy, light);
    }
    &.danger {
        background-color: gesso-color(zy, danger);
        border-color: transparent;
        color: gesso-color(zy, light);
    }

    &.button--primary {
        
    }
    &.button--secondary {
        background-color: gesso-color(zy, light);
        color: gesso-color(zy, base);
        border-color: gesso-color(zy, base);
        &[disabled], &[disabled]:hover, &[disabled]:focus {
            background-color: gesso-color(zy, light);
            color: gesso-color(zy, smoke-gray);
            border-color: gesso-color(zy, smoke-gray);
        }
        &.success {
            border-color: gesso-color(zy, success);
            color: gesso-color(zy, success);
        }
        &.warning {
            border-color: gesso-color(zy, warning);
            color: gesso-color(zy, warning);
        }
        &.danger {
            border-color: gesso-color(zy, danger);
            color: gesso-color(zy, danger);
        }

    }
    &.button--tertiary {
        background-color: transparent;
        color: gesso-color(zy, base);
        border-color: transparent;
        &[disabled], &[disabled]:hover, &[disabled]:focus {
            background-color: gesso-color(zy, light);
            color: gesso-color(zy, smoke-gray);
            border-color: transparent;
        }
        &.success {
            color: gesso-color(zy, success);
        }
        &.warning {
            color: gesso-color(zy, warning);
        }
        &.danger {
            color: gesso-color(zy, danger);
        }
    }
    &:not([disabled]):hover {
        background-color: gesso-color(zy, 'base-hover');
        color: gesso-color(zy, light) !important;
    }
    &:not([disabled]):focus {
        background-color: gesso-color(zy, 'base-focus');
        color: gesso-color(zy, light) !important;
    }

    &.success {
        &:hover {
            background-color: gesso-color(zy, 'success-hover');
        }
        &:focus {
            background-color: gesso-color(zy, 'success-focus');
        }
    }
    &.warning {
        &:hover {
            background-color: gesso-color(zy, 'warning-hover');
        }
        &:focus {
            background-color: gesso-color(zy, 'warning-focus');
        }
    }
    &.danger {
        &:hover {
            background-color: gesso-color(zy, 'danger-hover');
        }
        &:focus {
            background-color: gesso-color(zy, 'danger-focus');
        }
    }
}