// Component: Radio Form Item
// stylelint-disable
@use '00-config' as *;
@use '../form-item' as *;

.c-form-item--radio {
  & + & {
    margin-top: -1 * gesso-spacing(2);
  }

  .c-form-item__radio {
    @include focus();
    appearance: none;
    background-color: gesso-color(form, background-unchecked);
    border: 1.2px solid gesso-color(zy, 'smoke-gray');
    border-radius: 50%;
    box-shadow: 0 0 0 2px transparent;
    cursor: pointer;
    height: 20px;
    margin-right: 3px;
    outline: none;
    position: relative;
    top: 2px;
    transition-duration: gesso-duration(short);
    transition-property: background-color, border-color, border-radius;
    transition-timing-function: gesso-easing(ease-in-out);
    width: 20px;
    &:hover {
      border-color: gesso-color(zy, 'base');
    }
    &:checked {
      background-color: gesso-color(zy, 'base');
      border: 4px solid gesso-color(zy, 'light');
      box-shadow: 0 0 0 2px gesso-color(zy, 'base');
    }

    &:disabled {
      cursor: default;
      opacity: $form-disabled-opacity;
    }

    + .c-form-item__label {
      cursor: pointer;
      display: inline-block;
      font-size: 14px;
      line-height: 20px;
      font-weight: gesso-font-weight(regular);
      vertical-align: text-bottom;
    }

    &:disabled + .c-form-item__label {
      cursor: default;
      opacity: $form-disabled-opacity;
    }
  }
}
// stylelint-enable