// Component: Site Name

@use '00-config' as *;

.c-site-name {
  display: inline-block;
  padding-left: 7px;
  text-decoration: none;
}

.c-site-name__text {
  color: gesso-color(text, primary);
  font-size: gesso-font-size(11);
  font-weight: gesso-font-weight(semibold);
  line-height: gesso-line-height(logo-title);
  margin-bottom: rem(gesso-spacing(0));
}
