// @file
// Component: c-button-zy

@use '00-config' as *;

// stylelint-disable
.button-zy {
    border: 1px solid transparent;
    border-radius: 6px;
    padding: 11px 20px;
    text-align: center;
    font-size: gesso-font-size(2);
    line-height: gesso-line-height(normal);
    color: gesso-color(zy, light);
    font-weight: 500;
    text-decoration: none;
    margin: 4px;
    display: inline-block;
    .c-icon {
        &.is-spaced-before {
            margin-left: 7px;
        }
        &.is-spaced-after {
            margin-right: 7px;
        }
    }
    &.button-zy--small {
        padding: 3px 8px;
        font-size: gesso-font-size(1);
        line-height: 16px;
        display: inline-block;
    }
    &.pill {
        border-radius: 40px;
        padding: 3px 8px;
        line-height: gesso-line-height(small);
        .c-icon {
            &.is-spaced-before {
                margin-left: 4px;
            }
            &.is-spaced-after {
                margin-right: 4px;
            }
        }
    }

    &.button--primary {
        background-color: gesso-color(zy, base);
        color: gesso-color(zy, light);
        &[disabled], &[disabled]:hover, &[disabled]:focus {
            background-color: gesso-color(zy, disabled);
        }
        &.success {
            background-color: gesso-color(zy, success);
            border-color: transparent;
            color: gesso-color(zy, light);
        }
        &.warning {
            background-color: gesso-color(zy, warning);
            border-color: transparent;
            color: gesso-color(zy, light);
        }
        &.danger {
            background-color: gesso-color(zy, danger);
            border-color: transparent;
            color: gesso-color(zy, light);
        }
    }
    &.button--secondary {
        background-color: gesso-color(zy, light);
        color: gesso-color(zy, base);
        border-color: gesso-color(zy, base);
        &[disabled], &[disabled]:hover, &[disabled]:focus {
            background-color: gesso-color(zy, light);
            color: gesso-color(zy, smoke-gray);
            border-color: gesso-color(zy, smoke-gray);
        }
        &.success {
            border-color: gesso-color(zy, success);
            color: gesso-color(zy, success);
        }
        &.warning {
            border-color: gesso-color(zy, warning);
            color: gesso-color(zy, warning);
        }
        &.danger {
            border-color: gesso-color(zy, danger);
            color: gesso-color(zy, danger);
        }

    }
    &.button--tertiary {
        background-color: transparent;
        color: gesso-color(zy, base);
        border-color: transparent;
        &[disabled], &[disabled]:hover, &[disabled]:focus {
            background-color: gesso-color(zy, light);
            color: gesso-color(zy, smoke-gray);
            border-color: transparent;
        }
        &.success {
            color: gesso-color(zy, success);
        }
        &.warning {
            color: gesso-color(zy, warning);
        }
        &.danger {
            color: gesso-color(zy, danger);
        }
    }
    &:not([disabled]):hover {
        background-color: gesso-color(zy, 'base-hover');
        color: gesso-color(zy, light) !important;
    }
    &:not([disabled]):focus {
        background-color: gesso-color(zy, 'base-focus');
        color: gesso-color(zy, light) !important;
    }

    &.success {
        &:hover {
            background-color: gesso-color(zy, 'success-hover');
        }
        &:focus {
            background-color: gesso-color(zy, 'success-focus');
        }
    }
    &.warning {
        &:hover {
            background-color: gesso-color(zy, 'warning-hover');
        }
        &:focus {
            background-color: gesso-color(zy, 'warning-focus');
        }
    }
    &.danger {
        &:hover {
            background-color: gesso-color(zy, 'danger-hover');
        }
        &:focus {
            background-color: gesso-color(zy, 'danger-focus');
        }
    }

    

    

    

}