@use '00-config' as *;
// stylelint-disable
.svg-sprite {
    display: none;
}
.layout-main-wrapper {
    display: flex;
    aside {
        max-width: 200px;
    }
    main {
        flex-grow: 1;
        .l-constrain.main-content {
            background-color: gesso-color(background, site);
            margin: 0 16px 16px;
            padding: 24px 0 16px;
            border: 1px solid gesso-color('zy', 'section-border');
            border-radius: 4px 4px 0px 0px;
        }
    }
}