{% set classes = [
  is_collapsible ? 'side-bar' : 'l-sidebar',
  modifier_classes ? modifier_classes : '',
]|join(' ')|trim %}

{% if is_demo %}
  {% set sidebar_content %}
    Sidebar
  {% endset %}
{% endif %}

{% if sidebar_content %}
  <aside {{ add_attributes({ 'class': classes }) }}>
    {{ sidebar_content }}
    <div class="close-wrap">
    <button class="logo-name__button collapse-btn" id="side-collapse-btn">
     <span class="icon"></span>
     <span class="lbl">Collapse menu</span>
    </div>
  </aside>
{% endif %}