// HTML Element: Table
// stylelint-disable
@use '00-config' as *;

caption {
  margin-bottom: rem(gesso-spacing(0.5));
}

// col {}

// colgroup {}

table {
  border-collapse: collapse;
  border-spacing: 0;
  margin-bottom: rem(gesso-spacing(2));
  min-width: 100%;
  background-color: gesso-color(table, background);
}

// tbody {}

td {
  background-color: gesso-color(table, background);
  // border: 1px solid gesso-color(table, border);
  padding: rem(gesso-spacing(2));
}
td,
th {
  // background-color: gesso-color(table, background-head);
  &.views-field-views-bulk-operations-bulk-form {
    width: 16px;
    label::before {
      margin-right: 0 !important;
    }
  }
}

tfoot {
  td,
  th {
    background-color: gesso-color(table, background-foot);
  }
}

th {
  background-color: gesso-color(table, background);
  // border: 1px solid gesso-color(table, border);
  padding-left: rem(gesso-spacing(2));
  text-align: left;
  font-size: 16px;
  line-height: 25px;
  font-weight: 500;
  color: gesso-color('zy', 'smoke-gray');
}

tr {
  border-top: 1px solid gesso-color('zy', 'border-gray');
  @media print {
    page-break-inside: avoid;
  }
}
thead {
  &::before {
    height: 8px;
    display: table-row;
    content: '';
  }
  tr {
    border-top: none;
  }
  td,
  th {
    // background-color: gesso-color(table, background-head);
  }
  @media print {
    display: table-header-group;
  }
}

tbody {
  &::before {
      height: 8px;
      display: table-row;
      content: '';
  }
}
table.sticky-header {
  display: block;
}
// stylelint-enable